services:
  api:
    container_name: masternote_api
    build:
      context: .
      dockerfile: Dockerfile-api
      args:
        MASTERNOTE_DB_HOST: host.docker.internal # ${MASTERNOTE_DB_HOST}
        MASTERNOTE_DB_DATABASE: ${MASTERNOTE_DB_DATABASE}
        MASTERNOTE_DB_USERNAME: ${MASTERNOTE_DB_USERNAME}
        MASTERNOTE_DB_PASSWORD: ${MASTERNOTE_DB_PASSWORD}
        MASTERNOTE_MAIL_MAILER: ${MASTERNOTE_MAIL_MAILER}
        MASTERNOTE_MAIL_HOST: ${MASTERNOTE_MAIL_HOST}
        MASTERNOTE_MAIL_PORT: ${MASTERNOTE_MAIL_PORT}
        MASTERNOTE_MAIL_USERNAME: ${MASTERNOTE_MAIL_USERNAME}
        MASTERNOTE_MAIL_PASSWORD: ${MASTERNOTE_MAIL_PASSWORD}
        MASTERNOTE_MAIL_FROM_ADDRESS: ${MASTERNOTE_MAIL_FROM_ADDRESS}
        MASTERNOTE_MAIL_FROM_NAME: ${MASTERNOTE_MAIL_FROM_NAME}
        MASTERNOTE_CLIENT_URL: ${MASTERNOTE_CLIENT_URL}
        MASTERNOTE_API_URL: ${MASTERNOTE_API_URL}
    environment:
      MASTERNOTE_DB_HOST: host.docker.internal # ${MASTERNOTE_DB_HOST}
      MASTERNOTE_DB_DATABASE: ${MASTERNOTE_DB_DATABASE}
      MASTERNOTE_DB_USERNAME: ${MASTERNOTE_DB_USERNAME}
      MASTERNOTE_DB_PASSWORD: ${MASTERNOTE_DB_PASSWORD}
      MASTERNOTE_MAIL_MAILER: ${MASTERNOTE_MAIL_MAILER}
      MASTERNOTE_MAIL_HOST: ${MASTERNOTE_MAIL_HOST}
      MASTERNOTE_MAIL_PORT: ${MASTERNOTE_MAIL_PORT}
      MASTERNOTE_MAIL_USERNAME: ${MASTERNOTE_MAIL_USERNAME}
      MASTERNOTE_MAIL_PASSWORD: ${MASTERNOTE_MAIL_PASSWORD}
      MASTERNOTE_MAIL_FROM_ADDRESS: ${MASTERNOTE_MAIL_FROM_ADDRESS}
      MASTERNOTE_MAIL_FROM_NAME: ${MASTERNOTE_MAIL_FROM_NAME}
      MASTERNOTE_CLIENT_URL: ${MASTERNOTE_CLIENT_URL}
      MASTERNOTE_API_URL: ${MASTERNOTE_API_URL}
    ports:
      - "8080:80"
    networks:
      - masternote_network

  frontend:
    container_name: masternote_frontend
    build:
      context: .
      dockerfile: Dockerfile-frontend
      args:
        MASTERNOTE_API_URL: ${MASTERNOTE_API_URL}
        MASTERNOTE_DISCORD_CLIENT_ID: ${MASTERNOTE_DISCORD_CLIENT_ID}
    environment:
      MASTERNOTE_API_URL: ${MASTERNOTE_API_URL}
    ports:
      - "8081:80"

  discord-client:
    container_name: masternote_discord_client
    build:
      context: .
      dockerfile: Dockerfile-discord-client
      args:
        MASTERNOTE_DISCORD_CLIENT_TOKEN: ${MASTERNOTE_DISCORD_CLIENT_TOKEN}
        MASTERNOTE_API_URL: http://masternote_api:80/api/v1 # ${MASTERNOTE_API_URL}
        MASTERNOTE_CLIENT_URL: ${MASTERNOTE_CLIENT_URL}
        MASTERNOTE_APP_NAME: ${MASTERNOTE_APP_NAME}
        MASTERNOTE_DISCORD_CLIENT_ID: ${MASTERNOTE_DISCORD_CLIENT_ID}
    environment:
      MASTERNOTE_DISCORD_CLIENT_TOKEN: ${MASTERNOTE_DISCORD_CLIENT_TOKEN}
      MASTERNOTE_API_URL: ${MASTERNOTE_API_URL}
      MASTERNOTE_CLIENT_URL: ${MASTERNOTE_CLIENT_URL}
      MASTERNOTE_APP_NAME: ${MASTERNOTE_APP_NAME}
      MASTERNOTE_DISCORD_CLIENT_ID: ${MASTERNOTE_DISCORD_CLIENT_ID}
    ports:
      - "8082:80"
    networks:
      - masternote_network

networks:
  masternote_network:
    driver: bridge
